@model IEnumerable<DataAcquisitionSystem.Models.CipDataCollection>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DateTransacted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCollected)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCreated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fit1FlowRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lt1Gallons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lt2Gallons)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pt1Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pt2Pressure)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P1Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.P2Speed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tt1Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tt2Temperature)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tt3Temperature)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateTransacted)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCollected)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateCreated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fit1FlowRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lt1Gallons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lt2Gallons)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pt1Pressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pt2Pressure)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P1Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.P2Speed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tt1Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tt2Temperature)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tt3Temperature)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
